.footer {
  background: linear-gradient(180deg, #0a2850 0%, #071931 100%);
  color: #fff;
}

.footer__content {
  display: flex;
  justify-content: space-between;
  padding: 80px 60px 0 80px;
}

.footer__logo {
  width: 105px;
  height: 39px;
}

.footer__column {
  font-family: "Inter", Arial, sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 20px;
  margin: 0;
}

.footer__social-heading {
  margin: 0 0 20px;
}

.footer__list {
  font-family: "Inter", Arial, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 20px;
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.footer__social-icon {
  width: 16px;
  height: 16px;
  margin-right: 10px;
}

.footer__social-link {
  color: #fff;
  text-decoration: none;
  display: flex;
  align-items: center;
  transition: opacity 0.5s;
  cursor: pointer;
}

.footer__social-link:hover {
  opacity: 0.5;
}

.footer__copyright {
  padding: 108px 0 60px 80px;
}
