.recipes {
  color: #fff;
  background-color: #0a2750;
  padding: 100px 80px 215px;
  background-position: center;
  background-image: url(../images/background_recipes.svg);
}
.recipes__title {
  margin: 0 0 24px;
  font-family: "Inter", Arial, sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 44px;
  line-height: 52px;
}

.recipes__subtitle {
  margin: 0 0 84px;
  font-family: "Noto Serif", "Times New Roman", serif;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 30px;
  max-width: 438px;
}

.recipes__videos {
  display: flex;
  justify-content: center;
  gap: 40px;
  list-style: none;
  margin: 0;
  padding-left: 0;
}

.recipes__iframe {
  border: none;
  width: 480px;
  height: 273px;
}

.recipes__videos-caption {
  display: flex;
  justify-content: space-between;
  font-family: "Inter", Arial, sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 30px;
  margin: 24px 0 0;
}
