.page {
  min-width: 1100px;
  max-width: 1600px;
  margin: 0 auto;
  font-family: Inter, Arial, sans-serif;
  font-size: 16px;
  line-height: 20px;
}
.header {
  padding: 30px 80px 40px;
  position: relative;
  display: flex;
  flex-direction: column;
  height: 800px;
  background: center / cover no-repeat #fff url(../images/background_header.svg);
}

.header__title {
  max-width: 729px;
  font-family: "Inter", Arial, sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 60px;
  line-height: 72px;
  letter-spacing: -0.6px;
  margin: 183px 0 0;
}

.header__description {
  font-size: 20px;
  line-height: 30px;
  color: #000;
  max-width: 683px;
  margin: 28px 0 0;
  font-family: "Noto Serif", "Times New Roman", serif;
  font-style: normal;
  font-weight: normal;
}

.header__title--accent {
  color: #3f96f3;
  font-family: "Noto Serif", "Times New Roman", serif;
  font-style: italic;
  font-weight: normal;
  font-size: 60px;
  line-height: 72px;
  display: block;
}

.header__image {
  width: 646px;
  height: 568px;
  position: absolute;
  top: 124px;
  right: 5px;
}

.header__footer {
  margin-top: auto;
  width: 100%;
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
  font-family: "Inter", Arial, sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  color: #6f6f6f;
}
.header__paragraph {
  margin: 0;
}
.nav {
  display: flex;
  justify-content: space-between;
}

.nav__logo {
  width: 105px;
  height: 39px;
  position: relative;
  left: -50px;
}

.nav__links {
  display: flex;
  gap: 20px;
  list-style: none;
  padding: 0;
  margin: 0;
  font-family: "Inter", Arial, sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
}
.nav__link {
  text-decoration: none;
  color: #000000;
}

.recipes {
  color: #fff;
  background-color: #0a2750;
  padding: 100px 80px 215px;
}
.recipes__title {
  margin: 0 0 24px;
  font-family: "Inter", Arial, sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 44px;
  line-height: 52px;
}

.recipes__subtitle {
  margin: 0 0 84px;
  font-family: "Noto Serif", "Times New Roman", serif;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 30px;
}

.recipes__videos {
  display: flex;
  justify-content: center;
  gap: 100px;
  list-style: none;
}

.recipes__iframe {
  border: none;
}

.recipes__videos-caption {
  display: flex;
  justify-content: space-between;
  font-family: "Inter", Arial, sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 30px;
}
